/*@import url("font-awesome.min.css");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html{
    background-color: rgb(246,246,246);
}

*{
    margin:0;
    padding: 0;
}
#container{
    width: 100%;
    background-color: rgb(246,246,246);
    height:auto;
    margin: 0 auto;

}
#nav{
    position:fixed;
    top:0;
    width:100%;
    height: 100px;
    background: white;
    z-index: 4;
}

#index_logo{
    position: relative;
    width: 13%;
    margin-left: 9em;
    margin-top: 1.3em;

}
#index_search_btn{
    display: inline;
}
#search_bar{
    position: relative;
    width: 53%;
    height: 38px;
    margin-left: 3em;
   }

#index_login{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #F5F5F5;
    background-color: #0066FF;
    border: 0;
    height: 38px;
    width: 8%;
    border-radius: 6px;
    margin-left: 43em;
}

#index_register{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #0066FF;
    background-color: white;
    border-color: #0066FF;
    height: 38px;
    width: 8%;
    border-radius: 6px;
    margin-left: 1em;

}
#container2{
    width: 95%;
    height:auto;
    margin: 0 auto;
    z-index: 2;
}

#main{
    width:100%;
    height:1000px;
    margin-top:35px;
    background:RGB(246,246,246);
    padding-top: 62px;
    z-index: 3;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-top: 2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}


#all_articles{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    grid-row-gap: 50px;
}



















