@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

header, section {
    display: block;
}

/* Basic */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #a2a2a2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

/*a {*/
/*transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;*/
/*border-bottom: dotted 1px;*/
/*color: #49bf9d;*/
/*text-decoration: none;*/
/*}*/
p {
    margin: 0 0 2em 0;
}

h2, h3 {
    color: #787878;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}

/*Change avatar*/
#change_avatar {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);

}

/* Avatar Content */
.avatar_update_content {
    position: relative;
    background-color: white;
    margin: auto;
    width: 80%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
    }
    to {
        top: 0;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
    }
    to {
        top: 0;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.avatar_update_header {
    padding: 0px 18px 30px;
    background-color: lightblue;
}

.avatar_update_body {
    padding: 10px;;
}

.avatar_update_body img {
    width: 100px;
}

.avatar_update_body_img {
    margin: 0 10%;
    padding: 0;
}

.avatar_update_footer {
    padding: 10px;
    background-color: lightblue;
}

/* Header */
#header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-attachment: scroll;
    background-color: #0A0A0A;
    background-image: url("https://i.pinimg.com/564x/79/93/c4/7993c411e740ffe4763b0fca7c4ef66d.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    padding: 8em 4em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 35%;
}

/* Main */
#main {
    margin-left: 35%;
    max-width: 54em;
    padding: 8em 4em 4em 4em;
    width: calc(100% - 35%);
}

#main > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}

#main > section:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

#search_bar {
    width: 46%;
    height: 50px;
}

#image_avatar {
    width: 40%;
    border-radius: 100%;
    margin-top: 22px;
    margin-left: 30px;
}

#icon_home {
    width: 6%;
    margin-left: 2em;
}

#icon_homepage {
    width: 3%;
    margin-left: 2em;

}

#icon_logout {
    width: 6%;
    margin-left: 1em;
}

.setting_text_field {
    width: 100%;
    height: 50px;
}

#form_securityquestion {
    width: 100%;
    height: 50px;
}

.sub_title {
    font-size: 20px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.btn_savechange {
    width: 31%;
    height: 50px;
    background-color: #0066ff;
    color: #f8f8f8;
    border-radius: 6px;
}

#btn_delete {
    width: 31%;
    height: 50px;
    background-color: #dc143c;
    color: #f8f8f8;
    border-radius: 6px;
}